
:root {
  --cyan: hsl(158, 36%, 37%);
  --cyan-dark-shade: hsl(158, 36%, 18%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}


* {
  box-sizing: border-box;
}

}



.preview-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  width: 91.5%;
  max-width: 375px;
  max-height: 611px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 8px 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
}

.image--mobile {
  border-radius: 8px 8px 0 0;
}

.image--desktop {
  display: none;
  border-radius: 8px 0 0 8px;
}
}


@media all and (max-width: 576px) {
  .image--desktop {
    display: none;
  }
  .image--mobile {
    display: block;
  }
}
