
:root {
  --cyan: hsl(158, 36%, 37%);
  --cyan-dark-shade: hsl(158, 36%, 18%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  color: var(--gray-blue);
  font-family: 'Montserrat', sans-serif;
}



.preview-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  width: 91.5%;
  max-width: 375px;
  max-height: 611px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 8px 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
}

.image--mobile {
  border-radius: 8px 8px 0 0;
}

.image--desktop {
  display: none;
  border-radius: 8px 0 0 8px;
}

.preview-card-content {
  padding: 24px;
  text-align: left;
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kicker {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 4px;
}

.headline {
  font-family: 'Fraunces', serif;
  font-size: 31px;
  color: var(--dark-blue);
  margin: 13px 0;
  letter-spacing: -1px;
  line-height: 31px;
}

.product-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.price {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.price-new {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  color: var(--cyan);
  display: inline-block;
  margin-right: 20px;
}

.price-old {
  display: inline-block;
  text-decoration: line-through;
  font-size: 13px;
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  bottom: 10px;
  background-color: var(--cyan);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.button-add:hover,
.button-add:active,
.button-add:focus {
  background-color: var(--cyan-dark-shade);
  cursor: pointer;
}

.button-add img {
  display: inline-block;
  height: 16px;
  padding-right: 12px;
}

/* desktop (breakpoint: 700px) */
@media all and (min-width: 700px) {
  .preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: auto;
  }

  .image--desktop {
    display: none;
  }
  .image--mobile {
    display: block;
  }
}
