
:root {
  --cyan: hsl(158, 36%, 37%);
  --cyan-dark-shade: hsl(158, 36%, 18%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}


* {
  box-sizing: border-box;
}
.image {
  max-width: 100%;
}

.image--desktop {
  display: block;
}

.image--mobile {
  display: none;
}


@media all and (max-width: 576px) {
  .image--desktop {
    display: none;
  }
  .image--mobile {
    display: block;
  }
}
